/*
* 1. Google Font
*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700');
@import url('https://fonts.googleapis.com/css?family=VT323');
/*
* 2.0 Global Style
*/
html {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

body {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000;
}
a:focus {
  outline: none;
}

h1 {
  font-weight: 700;
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
}

p {
  margin: 10px 10px 10px 10px;
  font-size: 16px;
}

ul li {
  font-weight: 700;
  margin-bottom: 10px;
}

.custom-list-icon, .list-arrow-right {
  list-style-type: none;
  padding: 0;
}
.custom-list-icon li, .list-arrow-right li {
  position: relative;
  padding-left: 20px;
}
.custom-list-icon li::before, .list-arrow-right li::before {
  position: absolute;
  left: 0;
  color: #4e4e4e;
  font-family: "Ionicons";
}

.social-block {
  list-style-type: none;
  padding: 0;
}
.social-block li {
  display: inline-block;
}
.social-block li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  color: #ffffff;
}
.social-block li a i {
  font-size: 3em;
}
.social-block li a:hover, .social-block li a:focus {
  color: #ffa500;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

.btn {
  border: 0;
  border-radius: 0;
  padding: 8px 15px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
.btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  height: 48px;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1.6;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ccc;
  background-color: #f8f8f8;
}

.valign-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  padding: 15px 0px 15px 0px;
}

.section-title {
  color: #313131;
  letter-spacing: 1px;
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
}

/*
* 3.0 Helper Class
*/
/*
* 3.1 Helper Class: font-weight
*/
.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-700 {
  font-weight: 700;
}

/*
* 3.2 Helper Class: margin
*/
.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt20 {
  margin-top: 20px;
}

/*
* 3.3 Helper Class: list
*/
.list-arrow-right li::before {
  content: "\f3d3";
}

/*
* 3.4 Helper Class: button
*/
.btn-white {
  color: #000;
  background-color: #fff;
}
.btn-white:hover, .btn-white:focus {
  color: #000;
  background-color: #fff;
}

.btn-black {
  color: #fff;
  background-color: #000;
}
.btn-black:hover, .btn-black:focus {
  color: #fff;
  background-color: #000;
}

/*
* 3.5 Helper Class: background
*/
.bg-image, .bg-image-1, .bg-image-2 {
  position: relative;
}
.bg-image::before, .bg-image-1::before, .bg-image-2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-image-1 {
  background: url(../images/backgrounds/bg-1.jpg) no-repeat center center/cover;
}
.bg-image-1::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-image-2 {
  background: url(../images/backgrounds/bg-2.jpg) no-repeat center bottom/cover;
}
.bg-image-2::before {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .section {
    padding: 25px 0px 25px 0px;
  }

  .section-title {
    color: #313131;
    letter-spacing: 1px;
    margin: 10px 30px 10px 30px;
    text-transform: uppercase;
    text-align: left;
  }
}
/*
* 4.0 Navigation
*/
.navbar-custom {
  border: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.navbar-custom .navbar-nav li {
  margin: 10px;
}
.navbar-custom .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}
.navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar-custom .navbar-nav > .active > a {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggle {
  border: 0;
  border-radius: 0;
  margin-top: 2px;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-solid {
  background-color: rgba(0, 0, 0, 1) !important;
  padding: 0 !important;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.site-branding {
  float: left;
  margin-top: 0px;
  margin-left: 15px;
  padding: 0 0 10px 0
}
.site-branding .logo {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 5px;
  letter-spacing: 1px;
}
.site-branding .logo:focus, .site-branding .logo:hover {
  text-decoration: none;
}

/*
* 5.0 Site Header
*/
.site-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background: url(../images/backgrounds/header.jpg) no-repeat center center/cover;
}
.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.site-header .intro {
  color: #e5fdff;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
  padding: 0 15px;
}
.site-header .intro h2 {
  margin-top: 0px;
  font-size: 25px;
  font-weight: 300;
}
.site-header .intro h1 {
  margin-top: 0px;
  font-size: 30px;
}
.site-header .intro p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    margin-top: 0px;
  }

  .site-branding {
    margin-top: 0px;
    margin-left: 0px;
  }
}
/*
* 6.0 Section
*/

/*
* 6.1 Section: About
*/
.about figure {
  margin-bottom: 25px;
}

/*
* 6.2 Section: Facts
*/
.facts i {
  color: #fff;
  font-size: 3em;
}
.facts h3 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

/*
* 6.3 Section: Speaker
*/
.speaker {
  text-align: center;
  color: #313131;
  margin: 25px 0;
}
.speaker h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}
.speaker p {
  margin-bottom: 5px;
}
.speaker img:hover {
  opacity: .7;
}

/*
* 6.4 Section: Registration & Pricing
*/
/*
* 6.5 Section: Contribution
*/
.contribution {
  text-align: center;
  color: #fff;
}

/*
* 6.6 Section: Schedule
*/
.schedule-box {
  position: relative;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  margin: 25px 0 0;
}
.schedule-box::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 1px solid #fff;
}

/*
* 6.7 Section: Schedule
*/
.partner {
  background-color: #f8f8f8;
}
.partner .partner-box {
  display: block;
  opacity: 0.7;
  height: 150px;
  width: 150px;
  margin: 25px auto;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
.partner .partner-box:hover {
  opacity: 1;
}
.partner .partner-box-1 {
  background: url(../images/partner/partner-1.png) no-repeat center center/contain;
  height: 200px;
  width: 200px;
}
.partner .partner-box-2 {
  background: url(../images/partner/partner-2.png) no-repeat center center/contain;
  height: 200px;
  width: 200px;
}
.partner .partner-box-3 {
  background: url(../images/partner/partner-3.png) no-repeat center center/contain;
  height: 200px;
  width: 200px;
}
.partner .partner-box-4 {
  background: url(../images/partner/partner-4.png) no-repeat center center/contain;
  height: 200px;
  width: 200px;
}
.partner .partner-box-5 {
  background: url(../images/partner/partner-5.png) no-repeat center center/contain;
}
.partner .partner-box-6 {
  background: url(../images/partner/partner-6.png) no-repeat center center/contain;
}
.partner .partner-box-7 {
  background: url(../images/partner/partner-7.png) no-repeat center center/contain;
}
.partner .partner-box-8 {
  background: url(../images/partner/partner-8.png) no-repeat center center/contain;
}

/*
* 6.8 Section: FAQ
*/
.faq .panel-heading {
  cursor: pointer;
}
.faq .faq-toggle.collapsed::before {
  font-family: "Ionicons";
  content: "\f218";
  -webkit-transition: 0.5s linear ease-out;
  transition: 0.5s linear ease-out;
  position: absolute;
  left: 15px;
}
.faq .faq-toggle::before {
  position: absolute;
  left: 15px;
  font-family: "Ionicons";
  content: "\f209";
}
.faq .panel-group .panel + .panel {
  margin-top: 15px;
}
.faq .panel-default > .panel-heading {
  color: #FFF;
  background-color: #000000;
  border-color: #000;
  border-radius: 0;
  padding: 0;
}
.faq .panel-default > .panel-heading a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 15px 15px 15px 35px;
}

/*
* 6.9 Section: photos
*/
.grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.grid::after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  overflow: hidden;
  padding: 3px;
  margin: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .grid-item-sm-6 {
    width: 50%;
  }

  .grid-item-sm-3 {
    width: 25%;
  }

  .section-title {
    padding-left: 10px;
    margin: 10px 0 10px;
  }

  figure {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .schedule-box {
    margin: 0;
  }

  .grid-item-md-6 {
    width: 50%;
  }

  .grid-item-md-3 {
    width: 25%;
  }
}

/*
* 7.0 Site-footer
*/
.site-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 15px 0 0 0;
}
.site-footer .site-info {
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 0px;
}
.site-footer .site-info a {
  color: #fff;
}
.site-footer .social-block li a {
  font-size: 10px;
  color: #fff;
}
.site-footer .social-block li a:hover, .site-footer .social-block li a:focus {
  opacity: 0.8;
}

.container {
  margin: 0px auto;
  padding: 0px;
  font-size: 30px;
}

.counter {
  background-color:rgba(0, 0, 0, 0);
  text-align: center;
}

.counter h3 {
  color: #E5E5E5;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-bottom: 30px;
}

#countdown {
  color: #FFFFFF;
}

#countdown span {
  font-family: 'VT323', monospace;
  font-size: 80px;
  font-style: normal;
  font-weight: normal;
  color: #ff5454;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
}

#countdown b {
  font-size: 16px;
  font-weight: normal;
  color: #aaaaaa;
}

#countdown p {
  font-size: 20px;
  font-weight: normal;
  color: #ff5454;
}

.responsive-map{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.responsive-map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
